.sidebar-layout {
  display: flex;
  height: 50vh;

}

.sidebar {
  background-color: #333;
  color: white;
  padding: 20px;
  margin: 1px;
}
.main-content{
  background-color: #b33232;
  color: white;
  padding: 20px;
  margin: 1px;
}

 
@media (max-width: 768px){
.sidebar-layout{
  display: flex;
  flex-direction: column;
}

}
